/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// banner {

//   background-attachment: fixed;
// }

.header-titles-left {
  text-align: left;
}

.wrapper {
  width: 86%;
  margin: 0 auto;
}

.no-margin {
  margin-left: 0;
   margin-right: 0;
}
