

<body>
    <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button">
        <div class="container">
            <div class="navbar-header" style="color:black;"><a href="#" class="navbar-brand navbar-link"><span><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502482668/flamelogo_xphv4h.png" />Home </span> </a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav nav-right">
                    <li role="presentation" class="active"><a href="index.html">Mission </a></li>
                    <li role="presentation"><a href="about.html">Leadership </a></li>
                    <li role="presentation"><a href="faq.html">Newsletter </a></li>
                    <li role="presentation"><a href="contact.html">Sermons </a></li>
                    <li role="presentation"><a href="contact.html">History </a></li>
                    <li role="presentation"><a href="contact.html">Messages </a></li>
                    <li role="presentation"><a href="contact.html">Login </a></li>
                    <li role="presentation"><a href="contact.html">Sign Up </a></li>
                </ul>

            </div>
        </div>
    </nav>
</body>
