<header style="position: fixed;z-index: 1;">
<nav id='cssmenu' >
<div class="logo"><a href="/"><%= image_tag "wesleymc_logo_png.png", style: 'height: 40px; width: 70px;'%> </a></div>
<div id="head-mobile"></div>
<div class="button"></div>
<ul style="background-color: rgba(0, 0, 0, 0.48);">
<li class='active'><a href='/'> HOME</a></li>
<li><a href='sermons.html'>SERMONS</a></li>
<li><a href='history.html'>OUR MINISTRY</a>
   <ul>
      <li><a href='construction.html'>Newsletters</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
      <li><a href='construction.html'>Calendar</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
   </ul>
</li>
<li><a href='team.html'>OUR LEADERS</a></li>
<li><a href='#'>MESSAGES</a></li>
<li><a href='#'>SIGN UP</a></li>
<li><a href='#'>LOGIN</a></li>
</ul>
</nav>
</header>
