

<body>
    <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button">
        <div class="container">
            <div class="navbar-header"><a href="#" class="navbar-brand navbar-link"><span><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502482668/flamelogo_xphv4h.png" />Home </span> </a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav nav-right">
                    <li role="presentation" class="active"><a href="index.html">History </a></li>
                    <li class="dropdown"><a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">Services <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li role="presentation"><a href="services.html">Price Packages</a></li>
                            <li role="presentation"><a href="#">Order Services</a></li>
                            <li role="presentation"><a href="#">Custom Request</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="about.html">about </a></li>
                    <li role="presentation"><a href="faq.html">faq </a></li>
                    <li role="presentation"><a href="contact.html">contact </a></li>
                </ul>
                <p class="navbar-text navbar-right actions"><a href="login.html" class="navbar-link login">Log In</a> <a class="btn btn-default action-button" role="button" href="signup.html">Sign Up</a></p>
            </div>
        </div>
    </nav>
</body>
