

<body style="background-color:white;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="padding-bottom:5%; color:black;font-size: 5vw; font-weight: bold; text-align: center;">Under Construction&emsp; :(</h1></div>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin-top:10%;margin-bottom:10%;">
                    <p style="color:black;"><%= link_to "Looks like we are still working on this section! Check back again later. In the mean time, check out our home page! Have a blessed day", indexhome_path%></p>

                    <br>
                    <p style="color:black;">-Wesley United Methodist Church IT Staff </p>
                </div>
                <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502483845/404_i2bv7l.png"></div>


            </div>
        </div>
    </div>

</body>

