<body onclick="window.location.href='/';" style="cursor:pointer; width:100%; height:100%; background-color: :white;">
  <div>
    <div class="container">
      <div class="row" style="margin-top: 20%; margin-bottom: 90%%;padding-bottom: 90%;>
        <div class="col-md-12">
          <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/q_auto:low/v1503196532/construction_hgic5b.png" style="display: block;padding-top:5%;
          margin: auto;
          width: 90%;">
        </div>
      </div>

    </div>
  </div>
</body>

