

<body style="background-color:#555;margin-top: 20px;;">
  <section class="bg-img-responsive" style="margin-bottom:10%";>

    <div class="jumbotron" style="padding:0px;">
      <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502836266/history_qogxpg.png" alt="">

      <div class="bounce"><div class="col-md-6"><i class="fa fa-history" style="font-size:5vw;"></i></div>
    </div>
  </div>
</section>





<div class="container" style="background-color: white; padding-top: 5%; margin-bottom: 5%; border-radius: 2%;">
  <div class="row">
    <div class="col-md-6" style="margin-top:10%;"> <img src="https://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1503180894/Capture31_w2jru1.jpg" style="border-radius:2%;display:block;margin-left:auto;margin-right:auto;box-shadow:15px 14px 20px;"></div>
    <div class="col-md-6">
      <h2 style="margin-top:15%;color:black;font-weight: bold;font-size: 6vw;text-align:center;">The Founding</h2>
      <p style="padding-left:5%;font-size: 148%;color:black;display:block;margin-left:auto;margin-top:5%;margin-right:auto;padding-right:5%;"> &emsp; &emsp;&emsp; &emsp;The Wesley Methodist Episcopal Sunday School was organized on August 29th, 1909, meeting at the home of W.S. Cole, 32nd &amp; Ford, Kansas City, Kansas. Mr. Cole was name the first Sunday school Superintendent of the church. In January of 1911, the Wesley Methodist Episcopal Church was organized. It soon gre too large for the Cole home, so it moved to 29th and Orville. Soon after, it moved to the home of Burt Morris at 353 N. 32nd Street.</p>
      <p style="padding-left:5%;font-size: 148%;color:black;display:block;margin-left:auto;margin-right:auto;margin-bottom:5%;padding-right:5%;"> &emsp; &emsp;The first church building was purchased in 1912. It was a frame building at the corner of 32nd and Orville. Under the leadership of Revereend C.W. Kavanaugh, the debt on that first building was paid. In 1923, construction becan on
        a new basement church under the provisional guidance of Reverand J.C. Paschall. It was two years later, however, before the basement structure was finally completed and used for the first time. This was in 1925, during the pastorate
        of Reverand L.W. Foster.</p>
      </div>
    </div>

  </div>


  <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
    <div class="row">
      <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405117/bennett_nuabm5.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top:18%;margin-right:auto;margin-bottom:5%;box-shadow:15px 14px 20px;"></div>
      <div class="col-md-6" style="margin-top:7%;">
        <blockquote style="box-shadow:15px 14px 20px;">
          <p style="color:black;">Shine your face on your servant, and teach me your statutes.</p>
          <footer>Psalm 119:135</footer>
        </blockquote>
      </div>
    </div>
  </div>



  <div class="container" style="background-color: white; padding-top: 5%; margin-bottom: 5%; border-radius: 2%;">
    <div class="row">

      <div class="col-md-6">
        <h2 style="margin-top:5%;color:black;font-weight: bold;font-size: 6vw;text-align:center;">The Sanctuary</h2>
        <p style="font-size: 148%;padding-left:5%;color:black;display:block;margin-left:auto;margin-top:5%;margin-right:auto;margin-bottom:5%;padding-right:5%;">&emsp; &emsp;November 1949 brought the completion of the present Sanctuary. Part of the work was contracted, but Church members donated much of the labor. In 1952, through the nerger of the former Westheight Protestant Methodist Church with
          Stephens Memorial Protestant Methodis, the Wesley congregation was given a gift of ten thousand dollars for a personage. Under the leadership of Reverand Dr. Paul Burnes, it was built. Open house was held on December 28, 1952.
          Thie present educational building was build in 1960 during the ministry of Reverand Charles Bennett. In October 1977, the mortgage on the educational building was burned.&nbsp;</p>
        </div>
        <div class="col-md-6" style="margin-top:10%;"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502406330/oldnotes_bpe7pq.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top: 10%;margin-bottom: 10%;margin-right:auto;box-shadow:15px 14px 20px;"></div>
      </div>
    </div>

    <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
      <div class="row">
        <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502558660/Capture11_j8anyi.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top:18%;margin-right:auto;margin-bottom:5%;box-shadow:15px 14px 20px;"></div>
        <div class="col-md-6" style="margin-top:7%;">
          <blockquote style="box-shadow:15px 14px 20px;">
            <p style="color:black;">Shine your face on your servant, and teach me your statutes.</p>
            <footer>Psalm 119:135</footer>
          </blockquote>
        </div>
      </div>
    </div>



    <div class="container" style="background-color: white; padding-top: 5%; margin-bottom: 5%; border-radius: 2%;">
      <div class="row">
        <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502406231/wesleyold_cd5hob.jpg" style="border-radius:2%;display:block;margin-left:auto;margin-top: 10%;margin-bottom: 10%;margin-right:auto;box-shadow:15px 14px 20px;"></div>
        <div class="col-md-6" style="margin-top:10%;">
          <h2 style="margin-top:5%;color:black;font-weight: bold;font-size: 6vw;text-align:center;">Our Legacy</h2>
          <p style="padding-left:5%;color:black;display:block;margin-left:auto;margin-top:5%;margin-right:auto;margin-bottom:5%;font-size: 148%;padding-right:5%;">&emsp; &emsp;Wesley has seen many changes since the burning of the mortgage. Many of our loved ones and members have gone to be wit hthe Lord. Our children have married and had children of their own. Some of those children have since married and
            had children, making us Great Grandparents!</p>
          </div>
        </div>
      </div>

      <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
        <div class="row">


          <div class="col-md-6" style="margin-top:7%;">
            <blockquote style="box-shadow:15px 14px 20px;">
              <p style="color:black;">Shine your face on your servant, and teach me your statutes.</p>
              <footer>Psalm 119:135</footer>
            </blockquote>
          </div>
          <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405117/bennett_nuabm5.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top:18%;margin-right:auto;margin-bottom:5%;box-shadow:15px 14px 20px;"></div>
        </div>
      </div>



      <div class="container" style="background-color: white; padding-top: 5%; margin-bottom: 5%; border-radius: 2%;">
        <div class="row">

          <div class="col-md-6">
            <h2 style="margin-top:5%;color:black;font-weight: bold;font-size: 6vw;text-align:center;">The Future</h2>
            <p style="padding-left:5%;color:black;display:block;font-size: 148%;margin-left:auto;margin-top:5%;margin-right:auto;margin-bottom:5%;padding-right:5%;">&emsp; &emsp;A lot of improvements and repairs have been made on the building since its completion. The newest improvement is central air conditioning. After 40 years, we are now blessed to have Reverand Dr. Charles Bennett back as our pastor.
              Thanks to his leadership, we have renewed our faith and hope to continue to serve God and our fellow man.Paragraph</p>
            </div>
            <div class="col-md-6" style="margin-top:10%;"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502407322/outsidefront_xrw1kk.jpg" style="border-radius:2%;display:block;margin-left:auto;margin-top: 10%;margin-bottom: 10%;margin-right:auto;box-shadow:15px 14px 20px;"></div>
            <div class="col-md-6"></div>
          </div>
        </div>

        <script src="assets/javascripts/jquery.min.js"></script>
        <script src="assets/javascripts/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        <script src="assets/javascripts/image-card-materialize.js"></script>
        <script src="assets/javascripts/Simple-Slider.js"></script>
        <script src="assets/javascripts/Slider_Carousel_webalgustocom.js"></script>
      </body>


