
<div style="background-color:#555;margin-top: 40px;">
  <div id="box-2" style="display:block;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;background-color:white;">
    <div class="container" >
      <div class="col-md-6" style="margin-top:122px;width:100%"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502406209/wesleymc_logo_png_bx4pwx.png" style="border-radius:2%;display:block;margin-left:auto;margin-top: 15%;margin-bottom: 10%;margin-right:auto;"></div>
    </div>
    <h3 style="text-align: center;
    color: white;
    font-weight: bold;
    font-size: 5vw;"></h3>

    <div class="bounce"><div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502482668/flamelogo_xphv4h.png" style="border-radius:2%;display:block;margin-left:auto;margin-top: 15%;margin-bottom: 10%;margin-right:auto;"></div><i class="fa fa-angle-double-down" style="    font-size: 5vw;"></i></div>
  </div>
<img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1503175757/map_eobxb3.png" style="max-width: 400px;display: block; margin-right: auto; margin-left: auto;">
  <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;" >
    <div class="intro">

      <h2 class="text-center" style="font-size: 5vw;"><br> 635 N 32nd Street, <br>Kansas City, KS 66102 <br><br></h2>

       <h2 class="text-center" style="font-size: 4vw;"> 9:15 AM Sunday <br><br></h2>

      <br>

      <iframe style="display: block; margin-left:auto;margin-right: auto;margin-bottom: 10%;box-shadow:15px 14px 20px;border-radius: 10%;"
      width="80%"
      height="400"

      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d773.9351088970099!2d-94.66666226231014!3d39.112379249434824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0f3b7e327921d%3A0xa78479f884037e89!2sWesley+United+Methodist+Church!5e0!3m2!1sen!2sus!4v1502569671890" allowfullscreen>
    </iframe>

  </div>
</div>

<div id="box-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="padding:20px;">
        <h2 style="text-align: center;padding-bottom:5%;padding-top:20%;font-size:6em;color: white;font-size: 10vw;">About Us</h2>
        <p style="padding-top:5%; font-size: 3vw;padding-bottom: 10%;">&emsp; &emsp;Welcome to Wesley United Methodist Church in Kansas City.  Our parish has a rich history since our founding in 1909.  A small, local church, Wesley is a family and community oriented parish, focused on bringing the word of the Lord to all ages.  <br> <br>&emsp; &emsp;We invite you to join us ever Sunday at 9:15 AM for service.  And if you are lucky, we will have some hot coffee and fresh donuts waiting for you after mass as we celebrate our fellowship.</p>
      </div>
      <div class="col-md-6" style="margin-top: 10vh"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405929/dove-png-41759_jxurxu.png" style="display:block;margin-left:auto;margin-top:37%;margin-right:auto;"></div>
    </div>
  </div>
</div>
<div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
  <div class="row">
    <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405117/bennett_nuabm5.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top:18%;margin-right:auto;margin-bottom:5%;box-shadow:15px 14px 20px;"></div>
    <div class="col-md-6" style="margin-top:7%;">
      <blockquote style="box-shadow:15px 14px 20px;">
        <p style="color:black;">Do all the good you can. By all the means you can. In all the places you can. At all the times you can. To all the people you can. As long as ever you can.</p>
        <footer>John Wesley</footer>
      </blockquote>
    </div>
  </div>
</div>
<div id="box-4">
  <div class="container">
    <div class="row" style="margin-top: 8vh;">
      <div class="col-md-12" >
        <h2 style="text-align: center;padding-bottom:5%;padding-top:20%;font-size:6em;color: white;font-size: 7vw;">Basics of Our Faith</h2><p style="padding-top:5%;font-size: 3vw;">&emsp; &emsp;As United Methodists, we have an obligation to bear a faithful Christian witness to Jesus Christ, the living reality at the center of the Church’s life and witness. To fulfill this obligation, we reflect critically on our biblical and theological inheritance, striving to express faithfully the witness we make in our own time.</p></div>
      </div>
      <div class="row" style="/*background-color:rgba(255,255,255,0.46);*/">
        <div class="col-md-6"></div>

      </div>
    </div>
  </div>
  <div >
    <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
      <div class="row">
       <div class="row">
    <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405941/churchfront_whuwo7.jpg" style="display:block;margin-left:auto;margin-right:auto;margin-top:10%;border-radius:2%; box-shadow:15px 14px 20px;"></div>
    <div class="col-md-6" style="margin-top:7%;">
      <blockquote style="box-shadow:15px 14px 20px;">
        <p style="color:black;">What one generation tolerates, the next generation will embrace.</p>
        <footer>John Wesley</footer>
      </blockquote>
    </div>
  </div>

      </div>
    </div>
  </div>
  <div id="box-5">
    <div class="container">
      <div class="row" style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;padding-bottom:10%;">

        <div class="col-md-6" style="display:block;margin-left:auto;margin-right:auto;padding-top:14%;padding-bottom:10%;border-radius:50%;"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502558659/Capture7_qfgpxk.jpg" style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;;border-radius:65%;"></div>
        <div class="col-md-6" style="display:block;margin-left:auto;margin-right:auto;padding-top:5%;padding-bottom:10%;"><h2 style="text-align: center;padding-bottom:5%;font-size:7vw;color: white;">Sermons</h2> <p style="padding-top:5%; font-size: 3vw;">&emsp; &emsp;At Wesley United, we believe that the word of the Lord should be share with everyone.  Because of this, we record the Sermons every Sunday.    <br> <br>&emsp; &emsp;We invite you to download or stream the latest words.  Our archive contains past Sermons with synopses, to help you find the right words and guidance for you.</p></div>

      </div>
    </div>
  </div>
</div>






  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="assets/js/image-card-materialize.js"></script>
  <script src="assets/js/Simple-Slider.js"></script>
  <script src="assets/js/Slider_Carousel_webalgustocom.js"></script>
