
    <div style="background-color:white;">
        <div id="box-2" style="display:block;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;background-color:white;">
            <div class="container" style="position:relative;">
            <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502406209/wesleymc_logo_png_bx4pwx.png" style="border-radius:2%;display:block;margin-left:auto;margin-top: 15%;margin-bottom: 10%;margin-right:auto;"></div>
                </div>
                <h3 style="text-align: center;
    color: white;
    font-weight: bold;
    font-size: 5vw;">Welcome Home....</h3>
            <div class="bounce"><div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502482668/flamelogo_xphv4h.png" style="border-radius:2%;display:block;margin-left:auto;margin-top: 15%;margin-bottom: 10%;margin-right:auto;"></div><i class="fa fa-angle-double-down" style="    font-size: 5vw;"></i></div>
        </div>
        <div class="container" style="background-image:mapunderlay.jpg;">
            <div class="intro">
                <h2 class="text-center">Join Us</h2>
                <p class="text-center" style="color:black;"> </p><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502406092/map-close_zngpzo.jpg" style="display:block;margin-left:auto;margin-right:auto;margin-top:7%;margin-bottom:10%;"></div>
        </div>
        <div id="box-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding:20px;">
                        <h1 style="display:block;margin-left:auto;margin-right:auto;padding-bottom:10%;padding-top:20%;"></h1>
                        <p style="padding-top:8%;">Talk about the church community Lorem ipsum Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem
                            ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp;
                            Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp;
                            Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp;
                            Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp; Lorem ipsum&nbsp;</p>
                    </div>
                    <div class="col-md-6" style="padding:20px;"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405929/dove-png-41759_jxurxu.png" style="display:block;margin-left:auto;margin-top:37%;margin-right:auto;"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405117/bennett_nuabm5.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top:5%;margin-right:auto;margin-bottom:5%;box-shadow:15px 14px 20px;"></div>
                <div class="col-md-6" style="margin-top:7%;">
                    <blockquote style="box-shadow:15px 14px 20px;">
                        <p style="color:black;">Do all the good you can. By all the means you can. In all the places you can. At all the times you can. To all the people you can. As long as ever you can.</p>
                        <footer>John Wesley</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div id="box-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;padding-bottom:10%;"></h1></div>
                </div>
                <div class="row" style="/*background-color:rgba(255,255,255,0.46);*/">
                    <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405941/churchfront_whuwo7.jpg" style="display:block;margin-left:auto;margin-right:auto;margin-top:10%;border-radius:2%;"></div>
                    <div class="col-md-6">
                        <blockquote>
                            <p style="padding-top:5%;color:rgb(242,234,234);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous</footer>
                        </blockquote>
                        <p style="padding-top:5%;padding-bottom:10%;color:rgb(251,246,246);">Our Church leaders are lorem ipsum lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp;
                            &lt;br&gt; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp;
                            lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp;
                            lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp; lorem ipsum&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:white;margin-top:10%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color:rgb(254,253,253);">
                    <blockquote style="box-shadow:15px 14px 20px;">
                        <p style="padding-top:1%;color:black;font-size: 4vw;">What one generation tolerates, the next generation will embrace.</p>
                        <footer>John Wesley</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
        <div id="box-5">
            <div class="container">
                <div class="row" style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;padding-bottom:10%;">

                    <div class="col-md-6" style="display:block;margin-left:auto;margin-right:auto;padding-top:14%;padding-bottom:10%;border-radius:50%;"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502406080/20170730_105932_briosf.jpg" style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;padding-bottom:10%;border-radius:65%;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/image-card-materialize.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
    <script src="assets/js/Slider_Carousel_webalgustocom.js"></script>
