<section class="bg-img-responsive" >

        <div class="jumbotron" style="padding:0px;background-image:url('http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502558668/Capture27_jej7ba.jpg');">


    <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502828745/leadership_fvfdbc.png" alt="">




            <div class="bounce"><div class="col-md-6"><i class="fa fa-users" style="font-size:5vw;"></i></div>
        </div>
    </section>


    <div class="team-boxed" style="    margin-top: 2%;">
        <div class="container">

            <div class="row people">
                <div class="col-md-4 col-sm-6 item" style="border-radius: 2%;">
                    <div class="box"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405504/cong1_pnbjme.jpg" style="border-radius:50%;">
                        <h3 class="name">Mike Angel</h3>
                        <p class="title">Pastor</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405533/cong2_he47jy.jpg" style="border-radius:50%;">
                        <h3 class="name">Susan Stauch</h3>
                        <p class="title">DSA</p>
                        <p class="description">
Susan has been an active member of Wesley for 15 years and haswithin the last 5 years become involved with Sunday services, reading Gospel lessons, serving communion and preaching.  She completed her Lay Ministry courses in January of this year and was appointed as DSA in April.  </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405471/cong3_yqaaw3.jpg" style="border-radius:50%;">
                        <h3 class="name">Mark Glover</h3>
                        <p class="title">Lay Minister (In Training)</p>
                        <p class="description">Mark joined the church in 2003 and had a family history of his grandparents attending Wesley.  He has been involved in reading gospel lessons and planning major functions.  He is pursuing his cerfification in Lay Ministries and participates in services every Sunday. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

