
    <div class="team-boxed" style="    margin-top: 40px;background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405348/BookAltar_pzsigh.jpg);background-size:cover;height:130%;background-position:center;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:white;">Meet Our Ministry Team</h2>
                <p class="text-center" style="color:white;">We are blessed to have such talent. Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum;.</p>
            </div>
            <div class="row people">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405504/cong1_pnbjme.jpg" style="border-radius:50%;">
                        <h3 class="name">Mike Angel</h3>
                        <p class="title">Musician</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405533/cong2_he47jy.jpg" style="border-radius:50%;">
                        <h3 class="name">Susan Staunch</h3>
                        <p class="title">Lay Leader</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405471/cong3_yqaaw3.jpg" style="border-radius:50%;">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title">Stylist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

