.container-form{

  margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.image-form {
  width: 25%;
    display: block;
    margin-left: auto;
    padding-top: 5%;
    margin-right: auto;
}
.form-group {

  font-size:10%;
}
