<div class="container-form" style="margin-bottom: 5%;">
<img class="image-form" style=" width: 40%;" src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502831675/loginred_zyawbq.png" alt="" style="">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>

  </div>

  <div class="form-actions" style="padding-bottom:5%;">
    <div style="display: block;
    margin-right: auto;
    margin-left: auto; ">
    <%= f.button :submit, "Login", class: "btn-treehouse", style: "display: block;
    margin-right: auto;
    margin-left: auto; " %>

 </div>
  </div>
<% end %>
</div>
