.tabs {
  background: white;
  display: flex;
  // padding: 10px 100px 0 100px;
}
.tabs a {
  color: #93b6f5;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.content {
  margin: 20px;
  margin-top: 40px;
  .content-group {
    width: 100%;
    // display: flex;
    // justify-content: space-between;
  }
}

.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: white;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: #F2F2F2;
}
.tab-content {
  background: #F2F2F2;
}

