// Place all the styles related to the mailbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-mailbox {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  margin-top: 10%;
}
